.AppContainer {
  max-width: 1000px;
  margin: 0 auto;
}

.ListContainer {
  display: flex;
  margin-top: 2em;
}

.ListTitle {
  margin-bottom: 1em;
}

.ListItem {
  padding: 1em;
  border: 1px solid #bbb;
  border-radius: 8px;
  margin-bottom: 0.75em;
}

.NewTodoForm {
  margin: 2em 0;
}

.NewTodoTitle {
  margin: 0.75em 0;
}

.NewTodoLabel {
  display: block;
}

.NewTodoButton {
  padding: 0.5em 1em;
  margin-top: 0.75em;
}
